table {
    width: 100%;
}

table td, table th {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}
  
table thead th {
    background-color: #f5f5f5;
}

.icon {
    width: 25px;
    object-fit: cover;
    transition: filter 0.3s;
}

.icon:hover {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6)) brightness(80%);
}

.headers {
    font-weight: bold;
}

.add-new-student {
    width: 70%;
}

.paginator{
    padding-top: 5px;
    padding-bottom: 30px;
}

.index{
    width: 30px;
}

.form {
    text-align: center;
    width: 65%;
    margin: auto;
    padding-top: 10px;
}

h3 {
    text-align: center;
    color: #7B1FA2;
}

.buttons {
    text-align: center;
    width: 65%;
    margin: auto;
    padding-bottom: 30px;
}