.error {
    color: red;
    font-style: italic;
}

.logo {
    width: 60px;
    margin-bottom: 10px;
}

.background {
    background: url('/assets/images/main-greypurpleorange.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    justify-content: flex-end;
    margin-left: 400px;
}

.card {
    background: #FFFBFC;
    padding: 25px;
}