<div class="about">
    <div class="header"><h3><b>TutorGrapher - A Productivity Tool for free-lance Tutors</b></h3></div>
    <p class="description">
        Keeping track of students' progress has never been easier! TutorGrapher's charting tool enables the effortless creation of bar graphs
        that visually depict students' academic progress. These charts, together with tutor's feedback, can be integrated into shareable report 
        cards for parents. With TutorGrapher, tutors can now provide personalised feedback to both parents and students, fostering 
        a high-quality learning experience.
    </p>
</div>

<div class="logo">
    <img class="img" src="assets/images/chart2.png" alt="logo">
</div>

<br>

<div class="features">
    <div class="header"><h3><b>Main Features</b></h3></div>
    <p>Current and Ex-Student Directories</p>
    <p>* * * * * * * *</p>
    <p>Grade Analysis & Charting</p>
    <p>* * * * * * * *</p>
    <p>Lesson Observation Records</p>
    <p>* * * * * * * *</p>
    <p>Report Card Generation</p>
    <p>* * * * * * * *</p>
    <p>Report Card Repository</p>
    <p>* * * * * * * *</p>
</div>